<header>
	<h1>About the Twitter Curse League</h1>
</header>

<h2>This little project</h2>
<p>This little project was brought to life after a conversation at work and was developed over a few evenings.</p>
<p>This is an open project, with the code sitting on <a href="https://github.com/robb1e/curseleague">Github</a></p>

