<h1>How to play</h1>
<div>This is literally just about working, so it might well break.  </div>
<div>If you go to Twitter and get a list from a user in the form username/listname, you can put that in the URI here. That will then lookup those users against CurseBird.com and build a table of MOP (most offensive players)</div>
<div>Any comments, suggestions, you can reach me on @robb1e</div>