	<header>
		<h1>Twitter Curse League</h1>
	</header>

	<h2>How to play</h2>
	<p>This is literally just about working, so it might well break.</p>
	<p>If you go to Twitter and get a list from a user in the form username/listname, you can put that in the URI here. That will then lookup those users against CurseBird.com and build a table of <abbr title="most offensive players">MOP</abbr> (most offensive players)</p>
	
	<h2>For example:</h2>
	<ul>
		<li><a href="/robb1e/theteam">/robb1e/theteam</a></li>
		<li><a href="/twitter/team">/twitter/team</a></li>
		<li><a href="/adamamyl/academics/vs/adamamyl/lawyers">/adamamyl/academics/vs/adamamyl/lawyers</a></li>
	</ul>
	
	<aside id="known-issues">
		<header>
			<h2>Known issues:</h2>
		</header>
		<ul>
			<li>Just gets first 20 members of a list not all members</li>
			<li>No navigation, or styling, or pretty much anything else</li>
		</ul>
	</aside>

	<h2>Info:</h2>
	<p>Any comments, suggestions, you can reach me on @robb1e</p>
