	<header>
		<h1>Twitter Curse League</h1>
	</header>

	<h2>How to play</h2>
	<p>This is literally just about working, so it might well break.</p>
	<p>If you go to Twitter and get a list from a user in the form username/listname, you can put that in the URI here. That will then lookup those users against CurseBird.com and build a table of <abbr title="most offensive players">MOP</abbr> (most offensive players)</p>
	
	<h2>For example:</h2>
	<ul>
		<li><a href="/TIME/funny-people">TIME magazine - funny people</a></li>
		<li><a href="/guardiantech/recommended">Guardian Technology recommended people</a></li>
		<li><a href="/TIME/funny-people/vs/guardiantech/recommended">TIME funny people vs Guardian Tech recommended people</a></li>
	</ul>

	<h2>Info:</h2>
	<p>Any comments, suggestions, you can reach me on @robb1e</p>
