		<li><span class="vcard"><a class="fn nickname url" href="http://cursebird.com/<%- item.username %>"><%- item.username %></a></span> swears like <%- item.like %> <span class="points">(<%- item.level %> Points)</span></li>
