<!DOCTYPE html>
<html>
<head>
	<title>Curse League</title>
	<meta charset="UTF-8" />
	<meta name="robots" content="noindex" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" />
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/screen.css" />
</head>
<body>
<%- body %>
	<footer>
		<nav>
			<ul>
				<li class="first-item"><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<p>Made by: <a href="http://twitter.com/robb1e">&#64;robb1e</a> and <a href="http://twitter.com/tregoning">&#64;tregoning</a></p>
	</footer>
	
	<script>
    	var _gaq=[["_setAccount","UA-22606905-1"],["_trackPageview"]];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
	    s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

</body>
</html>
