<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/styles/screen.css"/>
</head>
<body>
<div id="wrapper">
	<%- body %>
</div>        
</body>
</html>
