<h1>Fight now!</h1>
<div id="first">
<h2><%- first.listinfo.name %></h2>
<ol>
<%- partial('item.ejs', first.curses) %>
</ol>
</div>
<div id="second">
<h2><%- second.listinfo.name %></h2>
<ol>
<%- partial('item.ejs', second.curses) %>
</ol>
</div>
