html * {
    border: medium none;
    margin: 0;
    padding: 0;
}
#wrapper {
    font-family: arial,sans-serif;
    margin: 20px auto;
    width: 940px;
}
.eight-col {
    margin: 0 auto;
    width: 620px;
}
.div {
    padding-bottom:25px;
    width:200px;
}
#first{
    float:left;
}
#second{
    float:left;
}
